<div class="container">
   <div class="row">
   <h2> Friend List </h2>
   <br>
<% @friends.each do |friend| %>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">

    <%= link_to user_path(friend) do %>
    <% if friend.avatar? %>
      <%= image_tag friend.avatar, class: "img-circle", size: "50" %>
    <% else %>
      <%= image_tag "http://via.placeholder.com/120x120", class: "img-responsive center-block img-rounded"  %>
    <% end %>


     <h4><%= friend.name %></h4>
   <% end %>



    <%= render partial: "shared/follow", locals: {user: @user} %>

    <%= render partial: "shared/friend", locals: {user: @user} %>




   </div>
<% end %>
</div>
</div>
