
<div class="container">

   <h1>Restaurant Backend</h1>

   <div>
     <%= link_to 'Restaurant', admin_restaurants_path %> |
     <%= link_to 'Categories', admin_categories_path %>
   </div>
   <br>
   <div class="row">

     <div class="col-md-12">

       <div>
         <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>

       </div>

       <br>
       <table class="table table-bordered">
         <thead>
           <tr>
             <th>#</th>
             <th>Category</th>
             <th>Name</th>
             <th>#</th>
           </tr>
         </thead>
         <tbody>
           <% @restaurants.each do |restaurant| %>
           <tr>
             <th scope="row"><%= restaurant.id %></th>
             <td>[<%= restaurant.category.name %>]</td>
             <td><%= restaurant.name %></td>
             <td>


               <%= link_to '<span class="glyphicon glyphicon-list-alt"></span>'.html_safe, admin_restaurant_path(restaurant), class: "btn btn-default" %>
               <%= link_to '<span class="glyphicon glyphicon-edit"</span>'.html_safe, edit_admin_restaurant_path(restaurant), class: "btn btn-default" %>
               <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, admin_restaurant_path(restaurant),method: :delete, data:{ confirm: "Are you sure ?"}, class: "btn btn-default" %>

             </td>
           </tr>
           <% end %>
         </tbody>
       </table>

       <div class="text-center">
         <%= paginate @restaurants %>
       </div>

     </div>

   </div>
 </div>
