<div class="container">
<div class="row">


  <ul class="nav nav-tabs">
    <li role="presentation">
      <%= link_to '首頁', root_path %>
    </li>
    <li role="presentation">
      <%= link_to '最新動態', feeds_restaurants_path %>
    </li>
    <li role="presentation" class="active">
      <%= link_to 'TOP10 人氣餐廳', ranking_restaurants_path %>
    </li>
    <li role="presentation">
     <%= link_to '美食達人', users_path %>
   </li>
  </ul>

<br>

 <div class="container">
  <div class="row">
   <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1>TOP10 人氣餐廳</h1>
    </div>


<hr>

    <div class="col-md-10">
         <!-- <div class="panel panel-default">
           <div class="panel-heading"></div>
           <div class="panel-body"> -->
             <% @restaurants.each do |restaurant| %>
               <div>
                 <div class="ranking-item">
                   <div class="col-md-3">
                     <%= link_to restaurant_path(restaurant) do %>
                   <%= image_tag restaurant.image, class: "img-responsive center-block"  %>
                 <% end %>
               </div>
               <div class="col-md-9">
                 <h4>
                   <%= link_to restaurant.name, restaurant_path(restaurant) %>
                    <span class="label label-default">收藏數：<%= restaurant.favorites_count %></span>
                   <small><%= restaurant.category.name %></small>
                 </h4>
                 <p><%= truncate(restaurant.description, length: 200) %></p>
                 <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-info" %>
                 <%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %>
                 <%= render partial: 'shared/like', locals: { restaurant: restaurant } %>
                 <hr>
                 <div class="clearfix"></div>
               </div>
             <% end %>
             <!-- </div>
           </div>
         </div> -->
       </div>
